---
import MainLayout from "../layout/main-layout.astro";
---

<MainLayout>
  <div class="container max-w-6xl mx-auto px-3">
    <div class="bread-crumbs mt-5">
      <div class="flex gap-3 text-sm text-gray-500">
        <div class="flex items-center gap-2">
          <span>
            <svg
                class="w-4 fill-gray-500"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 576 512"
            >
              <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                  d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"
              ></path>
            </svg>
          </span>
          <span>Home</span>
          <span>
            <svg
                class="w-2 fill-gray-600"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512"
            >
              <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                  d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"
              ></path>
            </svg>
          </span>
        </div>
        <div class="flex gap-2 items-center">
          <span>Pages</span>
          <span>
            <svg
                class="w-2 fill-gray-600"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512"
            >
              <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                  d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"
              ></path>
            </svg>
          </span>
        </div>
        <div>
          <span>Cookie Policy</span>
        </div>
      </div>
    </div>
    <section class="main-content pt-0">
      <div class="container">
        <div class="row bn-gutter-30">
          <div class="col-lg-8 col-md-12">
            <h2
                class="font-extrabold mt-4 text-3xl uppercase mb-5 relative after:w-12 after:h-0.5 after:bg-blue-400 after:-bottom-1 after:absolute after:left-0"
            >
              Cookie Policy
            </h2>
            <div class="row">
              <div class="col-12">
                <div class="bn-author-box flex gap-3 max-md:flex-col mt-0">
                  <div class="bn-author-img flex-grow-1">
                    <img
                        alt="Empleo Emprende logo"
                        class="w-44 max-md:w-12"
                        src="/images/EE2.png"
                    />
                  </div>
                  <!-- Author Image End -->
                  <div class="bn-author-info">
                    <h3 class="font-bold">Empleo Emprende</h3>
                    <p>&nbsp;</p>
                    <p>
                      <strong>COOKIE POLICY</strong><br />
                      What are cookies?<br />
                      This website uses cookies and/or similar technologies that store and retrieve information when you browse. In general, these technologies can serve various purposes, such as recognizing you as a user, obtaining information about your browsing habits, or customizing how content is displayed. The specific uses we make of these technologies are described below.
                    </p>
                    <p>
                      What does this website use cookies for and which ones?<br />
                      This website uses cookies for several purposes, including<br />
                      Analytics: These are cookies that, whether processed by us or third parties, allow us to quantify the number of users and thus perform statistical measurement and analysis of how users utilize the service. This involves analyzing your browsing on our website to improve the user experience.<br />
                      Behavioral advertising: These are cookies that, whether processed by us or third parties, allow analysis of users' internet browsing habits to show them advertising related to their browsing profile.<br />
                      The identification of who uses cookies on this website, as well as details about them, are indicated below:
                    </p>
                    <table style="height: 298px; width:100%">
                      <tbody>
                      <tr>
                        <td style="width: 131.562px">Entity</td>
                        <td style="width: 130.812px">Type</td>
                        <td style="width: 134.516px">Purpose</td>
                        <td style="width: 134.109px">
                          More information
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 131.562px">Google Analytics</td>
                        <td style="width: 130.812px">Third-party</td>
                        <td style="width: 134.516px">
                          Collect information about users' browsing on the website to understand the origin of visits and other similar statistical data, as well as, where applicable, show users advertising related to their preferences based on a profile created from their browsing habits (e.g., pages visited).
                        </td>
                        <td style="width: 134.109px">
                          1.
                          <a
                              href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl=en"
                          >Google Analytics</a
                          ><br />2.
                          <a
                              href="https://policies.google.com/technologies/cookies?hl=en#types-of-cookies"
                          >Google Privacy Center</a
                          >
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <p>
                      Note: 'First-party' cookies are used only by the owner of this website and 'Third-party' cookies are used by the service provider detailed in the table above.<br />
                      You can learn about transfers to third countries that, where applicable, are made by the third parties identified in this cookie policy in their respective policies (see the links provided in the 'More information' section of the table above).
                    </p>
                    <p>
                      How can I disable or delete these cookies?<br />
                      You can allow or block cookies, as well as delete your browsing data (including cookies) from the browser you use. Check the options and instructions provided by your browser for this. Please note that if you accept third-party cookies, you must delete them from the browser options or from the system provided by the third party itself.<br />
                      Below you will find links with information to manage cookies in the most commonly used browsers:<br />
                      Firefox<br />
                      http://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences<br />
                      Chrome<br />
                      http://support.google.com/chrome/bin/answer.py?hl=en&answer=95647<br />
                      Internet Explorer<br />
                      https://support.microsoft.com/en-us/help/278835/how-to-delete-cookie-files-in-internet-explorer<br />
                      Microsoft Edge<br />
                      https://support.microsoft.com/en-us/help/4027947/microsoft-edge-delete-cookies<br />
                      Safari<br />
                      http://support.apple.com/en-us/guide/safari/sfri11471/mac<br />
                      Opera<br />
                      http://help.opera.com/Windows/12.10/en/cookies.html<br />
                      Other browsers<br />
                      Consult the documentation of the browser you have installed.
                    </p>
                    <p>
                      Google Analytics Opt-out Browser Add-on<br />
                      If you wish to reject Google Analytics analytical cookies in all browsers, so that your information is not sent to Google Analytics, you can download an add-on that performs this function from this link:
                      https://tools.google.com/dlpage/gaoptout.
                    </p>
                    <p>
                      Exercising your rights<br />
                      You can learn about and exercise your rights regarding personal data protection by accessing the Privacy Policy of this website.
                    </p>
                    <p>&nbsp;</p>
                  </div>
                  <!-- Author Info End -->
                </div>
                <!-- Author Box End -->
              </div>
              <!-- Col End -->
            </div>
            <!-- Row End -->
          </div>
        </div>
      </div>
    </section>
  </div>
</MainLayout>