---
import MainLayout from "../layout/main-layout.astro";
---

<MainLayout>
  <div class="container max-w-6xl mx-auto px-3">
    <div class="bread-crumbs mt-5">
      <div class="flex gap-3 text-sm text-gray-500">
        <div class="flex items-center gap-2">
          <span>
            <svg
                class="w-4 fill-gray-500"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 576 512"
            >
              <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                  d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"
              ></path>
            </svg>
          </span>
          <span>Home</span>
          <span>
            <svg
                class="w-2 fill-gray-600"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512"
            >
              <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                  d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"
              ></path>
            </svg>
          </span>
        </div>
        <div class="flex gap-2 items-center">
          <span>Pages</span>
          <span>
            <svg
                class="w-2 fill-gray-600"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512"
            >
              <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                  d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"
              ></path>
            </svg>
          </span>
        </div>
        <div>
          <span>Legal Notice</span>
        </div>
      </div>
    </div>
    <section class="main-content pt-0">
      <div class="container">
        <div class="row bn-gutter-30">
          <div class="col-lg-8 col-md-12">
            <h2
                class="font-extrabold mt-4 text-3xl uppercase mb-5 relative after:w-12 after:h-0.5 after:bg-blue-400 after:-bottom-1 after:absolute after:left-0"
            >
              Legal Notice
            </h2>
            <div class="row">
              <div class="col-12">
                <div class="bn-author-box flex gap-3 max-md:flex-col mt-0">
                  <div class="bn-author-img flex-grow-1">
                    <img
                        class="w-48 max-md:w-12"
                        alt="Empleo Emprende logo"
                        src="/images/EE2.png"
                    />
                  </div>
                  <!-- Author Image End -->
                  <div class="bn-author-info">
                    <h3 class="font-bold">Empleo Emprende</h3>
                    <p>&nbsp;</p>
                    <p>
                      <strong>Legal Notice</strong>
                    </p>

                    <p><strong>&nbsp;PURPOSE</strong></p>
                    <p>
                      This legal notice regulates the use of the website [<a
                        title="Empleo Emprende"
                        href="https://www.empleoemprende.es/"
                    >https://www.empleoemprende.es/</a
                    >], owned by CARLOS BOUADI PADILLA (hereinafter, THE WEBSITE OWNER).
                    </p>
                    <p>
                      Browsing THE WEBSITE OWNER's website attributes the condition of USER to you and implies full and unreserved acceptance of each and every one of the conditions published in this legal notice, warning that these conditions may be modified without prior notice by THE WEBSITE OWNER, in which case they will be published and announced as far in advance as possible.
                    </p>
                    <p>
                      Therefore, it is advisable to carefully read its content if you wish to access and make use of the information and services offered from this website.
                    </p>
                    <p>
                      The user, in addition, undertakes to make proper use of the website in accordance with the laws, good faith, public order, traffic uses and this Legal Notice, and will be liable to THE WEBSITE OWNER or to third parties for any damages that may be caused as a result of breach of this obligation.
                    </p>
                    <p>
                      Any use other than that authorized is expressly prohibited, and THE WEBSITE OWNER may deny or withdraw access and use at any time.
                    </p>
                    <p><strong>IDENTIFICATION</strong></p>
                    <p>
                      THE WEBSITE OWNER, in compliance with Law 34/2002, of July 11, on Services of the Information Society and Electronic Commerce, informs you that:
                    </p>
                    <p>
                      Its corporate name is: CARLOS BOUADI PADILLA
                    </p>
                    <p>Its tax ID (CIF) is: 77338295J</p>
                    <p>
                      Its registered office is at: C/ SAN VICENTE 42, COP - 18160 - GÜEJAR SIERRA - GRANADA
                    </p>
                    <!-- Comments are visible in the HTML source only -->
                    <p><strong>&nbsp;COMMUNICATIONS</strong></p>
                    <p>
                      To communicate with us, we provide you with different contact methods detailed below:<strong><br /></strong>
                    </p>
                    <p>Phone: +34 644 092 293</p>
                    <p>
                      Email:
                      <a href="mailto:info@empleoemprende.es"
                      >info&#64;empleoemprende.es</a
                      >
                    </p>
                    <p>
                      All notifications and communications between users and WEBSITE OWNER will be considered effective, for all purposes, when made through any of the means detailed above.
                    </p>
                    <p>
                      <strong>TERMS OF ACCESS AND USE</strong>
                    </p>
                    <p>
                      The website and its services are freely accessible. However, WEBSITE OWNER may condition the use of some of the services offered on its website to the prior completion of the corresponding form.
                    </p>
                    <p>
                      The user guarantees the authenticity and timeliness of all data communicated to WEBSITE OWNER and will be solely responsible for any false or inaccurate statements made.
                    </p>
                    <p>
                      The user expressly agrees to make appropriate use of the contents and services of WEBSITE OWNER and not to use them for, among others:
                    </p>
                    <ul>
                      <li>
                        Disseminate criminal, violent, pornographic, racist, xenophobic, offensive content, content advocating terrorism or, in general, contrary to law or public order.
                      </li>
                      <li>
                        Introduce computer viruses or perform actions likely to alter, damage, interrupt or generate errors or damage to electronic documents, data or physical and logical systems of WEBSITE OWNER or third parties; as well as hinder the access of other users to the website and its services through the massive consumption of computer resources through which WEBSITE OWNER provides its services.
                      </li>
                      <li>
                        Attempt to access the email accounts of other users or restricted areas of the computer systems of WEBSITE OWNER or third parties and, where appropriate, extract information.
                      </li>
                      <li>
                        Violate intellectual or industrial property rights, as well as violate the confidentiality of the information of WEBSITE OWNER or third parties.
                      </li>
                      <li>Impersonate the identity of any other user.</li>
                      <li>
                        Reproduce, copy, distribute, make available, or any other form of public communication, transform or modify the contents, unless you have the authorization of the owner of the corresponding rights or it is legally permitted.
                      </li>
                      <li>
                        Collect data for advertising purposes and to send advertising of any kind and communications for sales purposes or other commercial nature without prior request or consent.
                      </li>
                    </ul>
                    <p>
                      All contents of the website, such as texts, photographs, graphics, images, icons, technology, software, as well as its graphic design and source codes, constitute a work whose property belongs to WEBSITE OWNER, without being understood to be transferred to the user any of the exploitation rights over them beyond what is strictly necessary for the proper use of the website.
                    </p>
                    <p>
                      In short, users who access this website may view the contents and make, where appropriate, authorized private copies provided that the reproduced elements are not subsequently transferred to third parties, nor are installed on servers connected to networks, nor are subject to any type of exploitation.
                    </p>
                    <p>
                      Likewise, all trademarks, trade names or distinctive signs of any kind that appear on the website are the property of WEBSITE OWNER, without it being understood that the use or access to it attributes any right over them to the user.
                    </p>
                    <p>
                      The distribution, modification, transfer or public communication of the contents and any other act that has not been expressly authorized by the owner of the exploitation rights are prohibited.
                    </p>
                    <p>
                      The establishment of a hyperlink does not imply in any case the existence of relations between WEBSITE OWNER and the owner of the website on which it is established, nor the acceptance and approval by WEBSITE OWNER of its contents or services.
                    </p>
                    <p>
                      WEBSITE OWNER is not responsible for the use that each user gives to the materials made available on this website or for the actions performed based on them.
                    </p>
                    <p></p>
                    <p>&nbsp;</p>
                    <!-- Comments are visible in the HTML source only -->
                    <p>
                      <strong>DISCLAIMER OF WARRANTIES AND LIABILITY IN ACCESS AND USE</strong>
                    </p>
                    <p>
                      The content of this website is of a general nature and has a merely informative purpose, without fully guaranteeing access to all content, nor its completeness, correctness, validity or timeliness, nor its suitability or usefulness for a specific purpose.
                    </p>
                    <p>
                      WEBSITE OWNER excludes, to the extent permitted by law, any liability for damages of any kind arising from:
                    </p>
                    <ul style="list-style-type: circle">
                      <li>
                        The impossibility of accessing the website or the lack of truthfulness, accuracy, completeness and/or timeliness of the contents, as well as the existence of vices and defects of all kinds of the contents transmitted, disseminated, stored, made available, which have been accessed through the website or the services offered.
                      </li>
                      <li>
                        The presence of viruses or other elements in the contents that may cause alterations in computer systems, electronic documents or user data.
                      </li>
                      <li>
                        Non-compliance with laws, good faith, public order, traffic uses and this legal notice as a result of incorrect use of the website. In particular, and by way of example, WEBSITE OWNER is not responsible for the actions of third parties that violate intellectual and industrial property rights, business secrets, rights to honor, personal and family privacy and self-image, as well as regulations on unfair competition and illegal advertising.
                      </li>
                    </ul>
                    <p>
                      Likewise, WEBSITE OWNER declines any responsibility regarding the information found outside this website and not managed directly by our webmaster. The function of the links that appear on this website is exclusively to inform the user about the existence of other sources likely to expand the content offered by this website. WEBSITE OWNER does not guarantee or take responsibility for the operation or accessibility of the linked sites; nor does it suggest, invite or recommend visiting them, so it will not be responsible for the result obtained. WEBSITE OWNER is not responsible for the establishment of hyperlinks by third parties.
                    </p>
                    <p>
                      <strong>PROCEDURE IN CASE OF UNLAWFUL ACTIVITIES</strong>
                    </p>
                    <p>
                      In the event that any user or a third party considers that there are facts or circumstances that reveal the unlawful nature of the use of any content and/or the performance of any activity on the web pages included or accessible through the website, they must send a notification to WEBSITE OWNER duly identifying themselves and specifying the alleged violations.
                    </p>
                    <p><strong>PUBLICATIONS</strong></p>
                    <p>
                      The administrative information provided through the website does not replace the legal publication of laws, regulations, plans, general provisions and acts that must be formally published in the official journals of public administrations, which constitute the only instrument that attests to their authenticity and content. The information available on this website should be understood as a guide without purpose of legal validity.
                    </p>
                    <p><strong>APPLICABLE LAW</strong></p>
                    <p>
                      These conditions shall be governed by current Spanish legislation.<br />The language used shall be Spanish.
                    </p>
                    <p>&nbsp;</p>
                  </div>
                  <!-- Author Info End -->
                </div>
                <!-- Author Box End -->
              </div>
              <!-- Col End -->
            </div>
            <!-- Row End -->
          </div>
        </div>
      </div>
    </section>
  </div>
</MainLayout>