---
import MainLayout from "../layout/main-layout.astro";
---

<MainLayout>
  <div class="container max-w-6xl mx-auto px-3">
    <div class="bread-crumbs mt-5">
      <div class="flex gap-3 text-sm text-gray-500">
        <div class="flex items-center gap-2">
          <span>
            <svg
                class="w-4 fill-gray-500"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 576 512"
            >
              <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                  d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"
              ></path>
            </svg>
          </span>
          <span>Home</span>
          <span>
            <svg
                class="w-2 fill-gray-600"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512"
            >
              <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                  d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"
              ></path>
            </svg>
          </span>
        </div>
        <div class="flex gap-2 items-center">
          <span>Pages</span>
          <span>
            <svg
                class="w-2 fill-gray-600"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512"
            >
              <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                  d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"
              ></path>
            </svg>
          </span>
        </div>
        <div>
          <span>Privacy Policy</span>
        </div>
      </div>
    </div>
    <section class="main-content pt-0 mt-8">
      <div class="container">
        <div class="row bn-gutter-30">
          <div class="col-lg-8 col-md-12">
            <h2
                class="font-extrabold text-3xl uppercase mb-5 relative after:w-12 after:h-0.5 after:bg-blue-400 after:-bottom-1 after:absolute after:left-0"
            >
              Privacy Policy
            </h2>
            <div class="row mt-8">
              <div class="col-12">
                <div class="bn-author-box flex gap-3 max-md:flex-col mt-0">
                  <div class="bn-author-img flex-grow-1">
                    <img
                        class="w-44 max-md:w-12"
                        alt="Empleo Emprende logo"
                        src="/images/EE2.png"
                    />
                  </div>
                  <!-- Author Image End -->
                  <div class="bn-author-info">
                    <h3 class="font-bold">Empleo Emprende</h3>
                    <p>
                      At https://www.empleoemprende.es/, owned by Carlos Bouadi Padilla, we care about privacy and transparency. Below we detail in full the processing of personal data we carry out on this website, as well as all relevant information about it.
                    </p>
                    <h4 class="font-bold my-3 text-lg">
                      Processing of newsletter subscribers' data
                    </h4>
                    <p>
                      Basic information about Data Protection
                    </p>
                    <table style="width:100%;">
                      <tbody>
                      <tr>
                        <td style="width: 179px">Data Controller:</td>
                        <td style="width: 179px">CARLOS BOUADI PADILLA.</td>
                      </tr>
                      <tr>
                        <td style="width: 179px">Purpose:</td>
                        <td style="width: 179px">To fulfill your request.</td>
                      </tr>
                      <tr>
                        <td style="width: 179px">Legal Basis:</td>
                        <td style="width: 179px">
                          Performance of a contract.
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 179px">Recipients:</td>
                        <td style="width: 179px">
                          Data may be shared with: Heroku server.
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 179px">Your Rights:</td>
                        <td style="width: 179px">
                          You have the right to access, rectify and delete your data, as well as other rights, detailed in the additional information, which you can exercise by contacting dpo&#64;altabir.es
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 179px">Source:</td>
                        <td style="width: 179px">The data subject themselves.</td>
                      </tr>
                      </tbody>
                    </table>
                    <h4 class="my-3 font-bold text-lg">
                      Complete Information about Data Protection
                    </h4>
                    <p>
                      <strong>Who is responsible for processing your data?</strong>
                    </p>
                    <p>
                      CARLOS BOUADI PADILLA<br />Tax ID: 77338295J<br />Address: C/ SAN VICENTE 42, COP - 18160 - GÜEJAR SIERRA - GRANADA<br />Phone: +34 644 092 293<br />Email: info&#64;empleoemprende.es
                    </p>
                    <p>
                      <strong>Data Protection Officer (DPO) contact details:</strong>
                    </p>
                    <p>
                      GRUPO ALTABIR (FORMACONT SL), with Tax ID B18955195<br />Address: C/ Luis Amador 26, Centro de Negocios Cámara de Comercio de Granada, P.0 - Of.B<br />Email: dpo&#64;altabir.es
                    </p>
                    <p>&nbsp;</p>
                    <p>
                      <strong>For what purpose do we process your personal data?</strong>
                    </p>
                    <p>
                      At https://www.empleoemprende.es/, owned by Carlos Bouadi Padilla, we process the information provided by interested parties in order to send our newsletter and other promotional communications that may be of interest to subscribers. If you do not provide your personal data, we will not be able to fulfill the purposes described.
                    </p>
                    <p>
                      <strong>How long will we keep your data?</strong>
                    </p>
                    <p>
                      The data will be kept as long as the data subject does not request its deletion.
                    </p>
                    <p>
                      <strong>What is the legal basis for processing your data?</strong>
                    </p>
                    <p>
                      Consent of the data subject: to send our newsletter and other promotional communications that may be of interest to subscribers (GDPR, art. 6.1.a, and LSSICE art.21)
                    </p>
                    <p>
                      <strong>Who will your data be shared with?</strong>
                    </p>
                    <p>
                      The data will be shared with the following recipients:
                      Heroku server, for the purpose of storing the newsletter subscriber database on Heroku's server (located in the European Union).
                    </p>
                    <p>
                      <strong>International data transfers</strong>
                    </p>
                    <p>
                      No international data transfers to third countries are planned.
                    </p>
                    <p>
                      <strong>What are your rights when you provide us with your data?</strong>
                    </p>
                    <p>
                      Any person has the right to obtain confirmation as to whether Carlos Bouadi Padilla is processing personal data concerning them or not.<br />Data subjects have the right to access their personal data, as well as to request the rectification of inaccurate data or, where appropriate, request its deletion when, among other reasons, the data is no longer necessary for the purposes for which it was collected. You also have the right to data portability.<br />Under certain circumstances, data subjects may request the restriction of the processing of their data, in which case we will only keep it for the exercise or defense of claims.<br />Under certain circumstances and for reasons related to your particular situation, you may object to the processing of your data. In this case, Carlos Bouadi Padilla will stop processing the data, except for compelling legitimate reasons, or the exercise or defense of possible claims.<br />You can exercise your rights by contacting: dpo&#64;altabir.es<br />When commercial communications are sent using the legitimate interest of the controller as the legal basis, the data subject may object to the processing of their data for that purpose.<br />If you have given consent for a specific purpose, you have the right to withdraw the consent given at any time, without affecting the lawfulness of processing based on consent before its withdrawal.<br />If you feel your rights regarding the protection of your personal data have been violated, especially when you have not obtained satisfaction in exercising your rights, you may file a complaint with the competent Data Protection Control Authority through its website: www.aepd.es.
                    </p>
                    <p>
                      <strong>How did we obtain your data?</strong>
                    </p>
                    <p>
                      The personal data processed by Carlos Bouadi Padilla comes from: The data subject themselves.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</MainLayout>

<script></script>
